<div contenteditable="true">
    <h4>GCSEs at The Charter School, London</h4>

    <table>
        <tr><td>Photography</td><td>A</td></tr>
        <tr><td>English Language</td><td>B</td></tr>
        <tr><td>English Literature</td><td>B</td></tr>
        <tr><td>French (as foreign language)</td><td>B</td></tr>
        <tr><td>History of Art</td><td>B</td></tr>
        <tr><td>Media Studies</td><td>B</td></tr>
        <tr><td>Psychology</td><td>C</td></tr>
        <tr><td>Mathematics</td><td>C</td></tr>
        <tr><td>Biology</td><td>C</td></tr>
    </table>
</div>
