<div contenteditable="true">
    <h4>Hobbies and Interests</h4>

    <dl>
        <dt>Dancing</dt>
            <dd>My team won 2nd place in the UK Dancing Challenge 2011</dd>
        <dt>Drawing</dt>
        <dt>Helping at the Hackney Youth Club</dt>
            <dd>I look after the younger children sometimes and do registers and
                sometimes I do the attendance lists and letters to parents on the
                computer in Ms Lancett's office</dd>
    </dl>
</div>

<blockquote>Jenny is extremely helpful and a great asset to the club. She is keen
to help out, never lets me down and is very trustworthy.
</blockquote>
Judy Lancett, Manager, Hackney Youth Club

<div contenteditable="true">
    <h4>Languages</h4>

    <ul>
        <li>English (native)</li>
        <li>French (basic)</li>
    </ul>
</div>
