<div contenteditable="true">
    <h4>Envision Sustainable Development Project (Oct 2012 - May 2013)</h4>

    <p>This was an extra-curricular project run through my school, where we
       worked in teams to make different solutions to make the school and
       Southwark more sustainable. I ran a scheme to find the school a better
       way of getting energy.</p>
    <ul>
        <li>Entrepreneurial experience</li>
        <li>Understanding of social issues</li>
        <li>Role play and video presentations</li>
    </ul>
</div>

<blockquote>Jenny was a fantastic asset to her team, coming up with some
excellent ideas but then buckling down and seeing them through. As well as
some beautiful artwork, she worked very hard on getting hold of the energy data
and making something from it.
</blockquote>
Barry Parks, Teacher, The Charter School

<blockquote>The Charter School teams' projects were all excellent. The
renewable energy project in particular was very well run.
</blockquote>
Jane Meddings, Schools Coordinator, Envision
