<div contenteditable="true">
    <h4>A-Levels at Sutton College, Sutton Coldfield (2013)</h4>

    <table>
        <tr><td>Geography</td><td>D</td></tr>
        <tr><td>Sport and Physical Education</td><td>C</td></tr>
        <tr><td>Product Design: Resistant Materials</td><td>C</td></tr>
    </table>
</div>

<blockquote>The practical aspects of John's coursework in PE and in Resistant
Materials were of an extremely high standard, however his written work let
him down and brought the grades down from the 'A's the practical work attracted.
</blockquote>
Simon Jackson, Principle, Sutton College
