<div contenteditable="true">
    <h4>GCSEs at The Friary School, Lichfield (2011)</h4>

    <table>
        <tr><td>Design &amp; Technology: Resistant Materials</td><td>A</td></tr>
        <tr><td>Geography</td><td>B</td></tr>
        <tr><td>IT</td><td>B</td></tr>
        <tr><td>Science (Double award)</td><td>B</td></tr>
        <tr><td>Art</td><td>C</td></tr>
        <tr><td>English</td><td>C</td></tr>
        <tr><td>Mathematics</td><td>C</td></tr>
        <tr><td>English literature</td><td>D</td></tr>
        <tr><td>German</td><td>E</td></tr>
    </table>
</div>
