<div contenteditable="true">
    <h4>Sport</h4>

    <ul>
        <li>Played rugby for school and Lichfield Rugby Club</li>
        <li>Voted most-improved player (by team-mates) in Lichfield 4th XI in 2012</li>
        <li>Played cricket and football for school</li>
        <li>Earned school colours for competing for the school</li>
    </ul>
</div>

<blockquote>John's dedication to team sports is very impressive. He leads from
the front and encourages team mates to follow. He is reliable and respectful.
</blockquote>
John Walsh, Tutor, Sutton College

<blockquote>John came into my team from the juniors a bit undersized but he
never let that phase him. He held his own without being jumped-up. He's carried
on growing and bulked out now and is a great young player who can help the
older players as well as the lads who are following him through.
</blockquote>
Warren Giles, Men's 4th XI Captain, Lichfield Rugby Club
